#apple-pay-logo {
  height: 20px;
  width: auto;
  display: block;
  margin: 0 auto;
  background-color: white;
}


.payment-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

.pay-btn {
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.pay-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.pay-btn.apple {
  background: black;
  color: white;
}


.apple-pay-button {
  background-color: black;
  color: white;
  font-size: 17px;
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  transition:  0.3s ease;
}
.apple-pay-button:hover {
  background-color: #333;
}